body {
  font-family: Helvetica;
  text-align: center;
}
h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 23px;
  font-weight: bold;
  color: white;
}
.main-banner {
  background-image: url("../images/fibldg.png");
}
.goto {
  color: white;
  font-size: 18px;
  text-decoration: underline;
}
.step {
  font-size: 23px;
  font-weight: bold;
}
.bullet {
  font-size: 14px;
}
.sec-banner {
  background-image: url("../images/fibldg.png");
}
.footer {
  background-color: dimgray;
  font-size: 11px;
  color: white;
  text-align: left;
}
